// ------------------------------------- //
// Style of Variables
// ------------------------------------- //

// Colors.
$white: #fff;
$black: #000;

$gray-darker: lighten($black, 13.5%); // #222
$gray-dark: lighten($black, 20%);   // #333
$gray: lighten($black, 33.5%); // #555
$gray-light: lighten($black, 46.7%); // #777
$gray-lighter: lighten($black, 93.5%); // #eee

$mint: #37bc9b;
$mint-light: #48cfad;

$grapefruit: #da4453;
$grapefruit-light: #ed5565;

$bemine: #ff891d;
$bemine-light: #ffa450;

$green: #419641;
$green-light: #55b555;

$aqua: #3bafda;
$aqua-light: #4fc1e9;

$bluejeans-dark: #34548d;
$bluejeans: #4a89dc;
$bluejeans-light: #5d9ced;

$bg-color-main: #f1f1f1;
$br-color-main: #e6e9ed;

$input-border-color: darken($gray-lighter, 14%);
$input-border-color-focus: darken($gray-lighter, 30%);

// Typography.
$font-family: 'Apple SD Gothic Neo', AppleSDGothicNeo-Regular, '맑은 고딕', 'Malgun Gothic', '돋움', dotum, AppleGothic, sans-serif, '굴림', Gulim, Helvetica;
$root-font-size: 1em;

$font-color: #434a54;
$font-color-light: #9b9b9b;
$font-color-link: #999;
$font-color-hover: $font-color;
$font-color-active: $font-color;
