<div class="attacher">
    <div class="attacher__inner">
        <div class="attacher__message centering">
            <i class="fa fa-camera" aria-hidden="true"></i><br/>
            <span>이미지를 선택하세요.</span>
        </div>
        <div class="attacher__selector">
            <input class="attacher__input" type="file" accept="image/*"/>
        </div>
    </div>
</div>
