<div class="control">
    <div class="control__inner">
        <a class="control__download-btn disabled" href="#" role="button">
            <span>다운로드</span>
            <div class="preloader preloader--small preloader--white">
                <i class="preloader__icon">
                    <span class="blind">처리중...</span>
                </i>
            </div>
        </a>
        <a class="control__reset-btn" href="#" role="button">초기화</a>
    </div>
</div>
