<div class="crop-box">
    <div class="crop-box__inner">
        <div class="crop-box__target">
            <img class="crop-box__image" src=""/>
        </div>
        <div class="crop-box__guide-line">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 420"></svg>
        </div>
    </div>
</div>
