<header class="header">
    <div class="header__inner">
        <div class="header__contents">
            <h1 class="header__title">
                <span>Image Level Off</span>
                <a class="github-button" href="https://github.com/uyeong/level-off" data-icon="octicon-star" data-style="mega" data-count-href="/uyeong/level-off/stargazers" data-count-api="/repos/uyeong/level-off#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star uyeong/level-off on GitHub">
                    Star
                </a>
            </h1>
            <p class="header__description">
                Level Off는 수평이 맞지 않는 이미지를 보정할 수 있는 도구입니다.
                비뚤어진 이미지를 완벽한 이미지로 만들어보세요!
            </p>
        </div>
        <div class="header__links">
            <a href="" class="header__link-github">
                <i class="fa fa-github" aria-hidden="true"></i>
                <span>Fork on Github</span>
            </a>
            <a href="" class="header__link-facebook">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                <span>Coderifleman</span>
            </a>
        </div>
    </div>
</header>
<script async defer src="https://buttons.github.io/buttons.js"></script>
