<div class="level-off">
    <div class="level-off__inner">
        <div class="level-off__main">
            {{> @partial-block }}
        </div>
        <div class="level-off__preloader">
            <div class="level-off__preloader-dimmed"></div>
            <div class="level-off__preloader-icon preloader">
                <i class="preloader__icon">
                    <span class="blind">불러오는 중...</span>
                </i>
            </div>
        </div>
    </div>
</div>
