// ------------------------------------- //
// Style of Control
// ------------------------------------- //

$module: 'control';

.#{$module} {
    width: 100%;
    text-align: center;

    &__inner {
        position: relative;
    }

    a {
        position: relative;
        width: 10em;
        color: $white;
        padding: 0 1.2em;
        line-height: 3em;
        display: inline-block;
        text-decoration: none;
        border-radius: .3em;
        text-align: center;
    }

    &__download-btn {
        background: $bluejeans;
        margin-right: .3em;
        transition: background .3s linear;

        .preloader {
            opacity: 0;
            transition: opacity .3s linear;
        }

        &.loading .preloader {
            opacity: 1;
        }
        
        &.disabled {
            background: darken($gray-lighter, 24%);
        }
    }

    &__reset-btn {
        background: $grapefruit;
    }
}
