// ------------------------------------- //
// Style of CropBox
// ------------------------------------- //

$module: 'crop-box';

.#{$module} {
    width: 100%;
    border-radius: .3em;
    overflow: hidden;

    &__inner {
        min-height: 420px;
        position: relative;

        .cropper-view-box {
            outline: none;
        }
    }

    &__image {
        width: 100%;
    }

    &__guide-line {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }
}
