// ------------------------------------- //
// Style of Header
// ------------------------------------- //

$module: 'header';

.#{$module} {
    width: 100%;
    padding: 4em;
    background: $bluejeans;
    color: $white;

    &__inner {
        position: relative;
        max-width: 960px;
        margin: 0 auto;
        padding: 0 2em;
        display: flex;
    }

    &__contents {
        padding-right: 4em;
    }

    &__links {
        a {
            width: 10em;
            color: $white;
            padding: 0 1.2em;
            line-height: 3em;
            display: block;
            background: $bluejeans-dark;
            text-decoration: none;
            border-radius: .3em;
            text-align: center;
        }

        span {
            padding-left: .125em;
        }
    }

    &__title {
        font-size: 3em;
        line-height: 1.4;
        margin: 0 0 .75em;
    }

    &__description {
        font-size: 1.375em;
    }

    &__link-facebook {
        margin-top: 2em;
    }
}
