// ------------------------------------- //
// Style of Main
// ------------------------------------- //

$module: 'main';

.#{$module} {
    width: 100%;
    padding: 4em;
    color: $gray-dark;

    &__inner {
        position: relative;
        max-width: 960px;
        margin: 0 auto;
        padding: 0 2em;
    }
}
